/* Coffee Designs contact page */

$primary-color: #fa6690;
$secondary-color: #cc9766;
$tertiary-color: #fec0cf;
$quatiary-color: #603f20;
$quinary-color: #dfbe9f;
$senary-color: #fc9cb7;



/* Form */
.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}