/*Recipes at Pepper's Bakery*/
/* Headings */
h1 {
  color: #ff99bb;
  text-align: center;
  font-weight: bold;
}

h2 {
  color: #33ff77;
  text-align: center;
}

h4 {
  color: #33ff77;
  text-align: center;
}

h5 {
  color: #00802b;
  text-align: center;
}

/* Oreo Balls imgs */
img {
  margin-left: auto;
  margin-right: auto;
  width: 24.5%;
  height: 24.5%;
}

.oreoImgContainer {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/* Used throughout page */
.centerText {
  text-align: center;
}

.container {
  border: thick solid #33ff77;
}

.containerButton {
  margin-left: auto;
  margin-right: auto;
  width: 31.7%;
  padding: 3px;
}

.containerButton2 {
  margin-left: auto;
  margin-right: auto;
  width: 37%;
  padding: 3px;
}

.recipesContainer {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border: thick solid #ff99bb;
  padding: 5px;
}

.recipesContainer2 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.btn-outline-light {
  color: #ff99bb;
  border: thin solid darkgrey;
}

.btn-outline-success {
  color: #00802b;
  border: thin solid #33ff77;
}

#ingredientsDiv {
  margin-left: auto;
  margin-right: auto;
  width: 10.5%;
}

#directionsDiv {
  margin-left: auto;
  margin-right: auto;
  width: 9.7%;
}

/* Ice Cream Cupcakes */
#iceCreamCupcakes {
  display: none;
}

#smallCupcake {
  display: none;
}

#smallIngredientsCupcake {
  display: none;
}

#smallDirectionsCupcake {
  display: none;
}

#normalCupcake {
  display: none;
}

#normalIngredientsCupcake {
  display: none;
}

#normalDirectionsCupcake {
  display: none;
}

#bigCupcake {
  display: none;
}

#bigIngredientsCupcake {
  display: none;
}

#bigDirectionsCupcake {
  display: none;
}

/* End ice cream cupcakes */
/* Giant Molten Cake */
#giantMoltenCake {
  display: none;
}

#smallCakes {
  display: none;
}

#smallIngredientsCake {
  display: none;
}

#smallDirectionsCake {
  display: none;
}

#normalCakes {
  display: none;
}

#normalIngredientsCake {
  display: none;
}

#normalDirectionsCake {
  display: none;
}

#bigCakes {
  display: none;
}

#bigIngredientsCake {
  display: none;
}

#bigDirectionsCake {
  display: none;
}

/* end giant molten cake */
/* Mixed Berry Pie */
#mixedBerryPie {
  display: none;
}

#smallPie {
  display: none;
}

#smallIngredientsPie {
  display: none;
}

#smallDirectionsPie {
  display: none;
}

#normalPie {
  display: none;
}

#normalIngredientsPie {
  display: none;
}

#normalDirectionsPie {
  display: none;
}

#bigPie {
  display: none;
}

#bigIngredientsPie {
  display: none;
}

#bigDirectionsPie {
  display: none;
}

/* end mixed berry pie */
/* Frosted Sugar Cookie */
#frostedSugarCookie {
  display: none;
}

#smallCookie {
  display: none;
}

#smallIngredientsCookie {
  display: none;
}

#smallDirectionsCookie {
  display: none;
}

#normalCookie {
  display: none;
}

#normalIngredientsCookie {
  display: none;
}

#normalDirectionsCookie {
  display: none;
}

#bigCookie {
  display: none;
}

#bigIngredientsCookie {
  display: none;
}

#bigDirectionsCookie {
  display: none;
}

/* end frosted sugar cookie */
/* Cannoli */
#cannoliPastry {
  display: none;
}

#smallPastry {
  display: none;
}

#smallIngredientsPastry {
  display: none;
}

#smallDirectionsPastry {
  display: none;
}

#normalPastry {
  display: none;
}

#normalIngredientsPastry {
  display: none;
}

#normalDirectionsPastry {
  display: none;
}

#bigPastry {
  display: none;
}

#bigIngredientsPastry {
  display: none;
}

#bigDirectionsPastry {
  display: none;
}

/* end cannoli */

/*# sourceMappingURL=RecipesPageCSS.css.map */
