/* Web Dev Projects CSS */
$font-stack: 'Open Sans Condensed', sans-serif;

$primary-color: #7ee7d0;
$secondary-color: #1D4463;
$tertiary-color: #FF74B6;
$quatiary-color: #5C5B5F;
$quinary-color: #CACACA;


/* Body */
.containerWebDev {
    margin-left: auto;
    margin-right: auto;
    border: thick solid $secondary-color;
    width: 75%;
    padding: 0.5%;
}

h2 {
    color: $tertiary-color;
    font-family: $font-stack;
    text-align: center;
    font-size: 2.3em;
}


h4 {
    color: $secondary-color;
    text-align: center;
}


.centerText {
    text-align: center;
}


/* Flexbox */
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 35%;
    margin: 0 auto;
}

.flex-container > div {
    padding: 0.7%;
}


/* Read More Div */
.readMoreDiv {
    margin: 0 auto;
    width: 75%;
}


/* Buttons */
.viewProjectButton {
    margin: 0 auto;
    width: 11.1%;
}

.viewProjectButtonTwo {
    margin: 0 auto;
    width: 27%;
}

.viewProjectButtonThree {
    margin: 0 auto;
    width: 100%;
    padding: 0 27%;
}


/* Button IDs */
#htmlMore {
    display: none;
}

#ffgMore {
    display: none;
}

#flexMore {
    display: none;
}

#bakeryMore {
    display: none;
}

#bootMore {
    display: none;
}

#greetingMore {
    display: none;
}

#atmMore {
    display: none;
}

#formMore {
    display: none;
}

#recipeMore {
    display: none;
}


#jsonMore {
    display: none;
}

#phpMore {
    display: none;
}


#sqlMore {
    display: none;
}


#nodeMore {
    display: none;
}

#reactMore {
    display: none;
}

#wpMore {
    display: none;
}